<!DOCTYPE html>
<html dir="ltr" lang="en">

<%- include('../layout/headSection') %>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main-wrapper">
       
        <%- include("../layout/header") -%>
     <%- include("../layout/sidebar") %>
        <div class="page-wrapper">
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">my profile</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                
            
                <div class="card">
                    <img src="/profile/<%=admin.admin_profile%>" class="mx-auto my-5" alt="" srcset="" height="100" width="100">

                    <form class="form-horizontal" action="/api/admin/updateProfile" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">User name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="fname" value="<%=admin.username%>" placeholder="Enter username" name="username">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">User Email</label>
                                <div class="col-sm-9">
                                    <input type="email" disabled class="form-control" id="fname"value="<%=admin.email%>" placeholder="Enter Email" name="email">
                                    <input type="hidden" value="<%=admin.email%>" name="email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="fname" class="col-sm-3 text-right control-label col-form-label">User profile</label>
                                <div class="col-sm-9">
                                    <input type="file" class="custom-file-input" id="validatedCustomFile" name="admin_profile">
                                    <label class="custom-file-label" for="validatedCustomFile">Choose profile image</label>
                                </div>
                            </div>
                        </div>
                        <div class="border-top text-center">
                            <div class="card-body">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
    </div>

    <%- include('../layout/jsLinks') %>

</body>

</html>